# ---- macOS ----
.DS_Store

# ---- Xcode ----
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# ---- Swift Package Manager ----
.build/
.swiftpm/

# ---- Dependency managers (not used yet, harmless) ----
Pods/
Carthage/Build/
